# --extra-index-url "https://download.pytorch.org/whl/cpu"
# --extra-index-url "https://storage.openvinotoolkit.org/simple/wheels/nightly"
# --extra-index-url "https://storage.openvinotoolkit.org/simple/wheels/pre-release"
# optimum-intel@git+https://github.com/huggingface/optimum-intel.git
optimum-intel@git+https://github.com/huggingface/optimum-intel.git@main
openvino-tokenizers>=2026.1.0.0
openvino>=2026.1.0
nncf>=3.1.0 
sentence_transformers
sentencepiece==0.2.1
openai 
transformers==5.0.0
einops
torchvision
timm==1.0.15
diffusers==0.38.0
black
uvicorn
huggingface_hub[cli]>=1.13.0
modgraph==0.2.2
